* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 1rem;
    text-align: center;
    max-width: 350px;
}

#clock-face{
    padding: 1rem;
    background-color: #333;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
}

#clock-face i{
    padding-right: 0.5rem;
}

button{
    margin: 1rem 0;
}

#alarm-form {
    width: 100%;
    background-color: #999;
    max-height: 100vh;
}

#hour, #minute, #second, #am-pm{
    font-size: 18px;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem 0.3rem;
    border: none;
}

#alarm-list {
    width: 100%;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    background-color: whitesmoke;
    padding: 0 0.5rem;
}