* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
}

#clock-face{
    margin: 1rem auto;
    padding: 1rem;
    background-color: #333;
    color: aliceblue;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
}

#clock-face i{
    padding-right: 0.5rem;
}

button{
    margin: 1rem 0;
}